<link rel="stylesheet" href="{{url}}/public/css/admin.css">


<div class="clear container">
    <table class="adminedit left">
        <thead>
            <tr> 
                <th>Equipo</th> 
                <th>G</th> 
                <th>P</th> 
                <th>Ptc</th> 
                <th>PDL</th> 
                <th>Rach</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody class="table-body"> 
            {{#each teams}} 
            <tr id="{{this._id}}"> 
            <td class="Equipo">{{this.name}}</td>
            <td class="G">{{this.G}}</td>
            <td class="P">{{this.P}}</td>
            <td class="Ptc">{{this.PTC}}</td>
            <td class="PDL">{{this.PDL}}</td>
            <td class="Rach">{{this.rach}}</td>
            <td class="Acciones">
                <a onclick="goEdit('{{this._id}}')" class="editar">Editar</a> 
                <a onclick="deleteTeam('{{this._id}}')" class="borrar">Borrar</a>
            </td>  
            </tr>
            {{/each}}
        </tbody> 
    </table>
</div>


<div class="formulario right"> 
    <form id="team-form" method="POST"> 
        <input type="hidden" name="_id" value="">
        <label for="">Team-Form</label>  
        <div class="controles">
            <div><input class="un" type="text" placeholder="Equipo" name="name" id=""></div>
            <div><input class="un" type="text" placeholder="G" name="G" id=""></div>
            <div><input class="un" type="text" placeholder="P" name="P" id=""></div>
            <div><input class="un" type="text" placeholder="PTC" name="PTC" id=""></div>
            <div><input class="un" type="text" placeholder="PDL" name="PDL" id=""></div>
            <div><input class="un" type="text" placeholder="RACH" name="rach" id=""></div>
            <div>
                <a onclick="submit(event)" id="submit-btn" class="editar"  type="submit">Insertar</a>
            </div>
        </div>
    </form> 
</div>

<script src="{{url}}/public/js/admin.js"></script>

