<div class="container">
    <table class="equipos">
       <thead>
            <tr> 
                <th>Equipo</th> 
                <th>G</th> 
                <th>P</th> 
                <th>Ptc</th> 
                <th>PDL</th> 
                <th>Rach</th>
            </tr>
        </thead>
        <tbody class="table-body"> 
            {{#each teams}} 
            <tr id="{{this._id}}"> 
            <td class="Equipo">{{this.name}}</td>
            <td class="G">{{this.G}}</td>
            <td class="P">{{this.P}}</td>
            <td class="Ptc">{{this.PTC}}</td>
            <td class="PDL">{{this.PDL}}</td>
            <td class="Rach">{{this.rach}}</td>\
            {{/each}}
        </tbody> 
    </table>
</div>